---
layout: page
name: Home
title: Welcome!
---


{% for post in paginator.posts %}
 <div class="post">
<h1>{{post.title}} - {{post.date | date_to_string}}</h1>
<div class="row">
  <div class="col-md-12">
   {{post.excerpt | strip_html | truncatewords:80}}<p><a href="{{post.url}}">See More...</a></p>
  </div>
</div>
</div>
{% endfor %}

{% if paginator.total_pages > 1%}
<ul id="paginator">
{% if paginator.previous_page %}
    <li><a href="{{paginator.previous_page_path}}">prev</a></li>
{% endif %}

{% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
        <li>{{page}}</li>
    {% else %}
        {% if page == 1 %}
        <li><a href="/index.html">{{page}}</a></li>
        {% else %}
        <li><a href="/page{{page}}">{{page}}</a></li>
        {% endif %}
    {% endif %}
{% endfor %}

{% if paginator.next_page %}
<li><a href="{{paginator.next_page_path}}">next</a></li>
{% endif %}

</ul>
{% endif %}
