---
---
#main {
    margin-top: 60px;

    .blog-preview {
        border-radius: 0;
        box-shadow: 5px 5px 0px gray;
    }
}

.post-date {
    font-size: 1.05em;
}

.post-exceprt,
.post-content {
    margin-top: 10px;
}