---
---
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.header {
    padding: 10px;
    margin-bottom: 40px;
    h1 {
        text-align: center;
        font-family: Consolas,monaco,monospace;
    }
}

#content {
    padding: 10px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;

    @media screen and (max-width: 980px) {
        width: 80%;
    }

    .post-blurb {
        margin-bottom: 50px;
        h3 {
            margin-bottom: 10px;
            display: inline-block;
            font-size: 20px;
            text-transform: uppercase;
        }

        span.post-date {
            text-transform: uppercase;
            font-weight: bold;
            color: gray;
            font-size: 12px;
        }

        .post-date {
            margin-bottom: 10px;
        }
    }
}